<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("𝐻𝑜𝓂𝑒", "Index", "Home", new { area = "" }, new { @class = "navbar-item" })
                @Html.ActionLink("𝒜𝒷𝑜𝓊𝓉", "Index","About", new { area = "" }, new { @class = "navbar-item" })
            </div>
        </div>
    </div> 
    <div id="main-container">
        <div class="container body-content">
            @RenderBody()
        </div>

        <div class="footer">
            <p>𝐼𝓈𝒶𝓀</p>
        </div>
    </div>
</body>
</html>